h1 {
  color: blue;
}

section {
  background-color: blanchedalmond;
}

img {
  height: 200px;
  border-radius: 10px 0px;
}

#email {
  background-color: darkgoldenrod;
}

#github {
  background-color: cadetblue;
}

#portfolio {
  background-color: coral;
}
